/*author：Leridy_Lei 
  version:1.0
  description: for a shopping mall website

*/
// 清除浮动
.clearfix{
	overflow: hidden;
	clear: both;
}
//设定字符编码
@charset "utf-8";
// 全屏宽高
@full_width:100%;
@full_height:100%;
// 全局边距清零
*{
	margin: 0;
	padding: 0;
}
//向左浮动类属性
.right{
	float: right;
}
// 向右浮动属性
.left{
	float: left;
}
// a标签初始化
a{
	text-decoration: none;
	color: black;
	-webkit-transition:color  0.3s;
	-o-transition:color   0.3s;
	transition:color  0.3s;
}

a:hover{
	color:#FF9966;
}
//页面主体样式
html,body{
	width: @full_width;
	height: @full_height;
	background-color: #fff;
	font-family: "Microsoft Yahei","Microsoft JhengHei","sans-serif";
	min-width: 1366px;
}
//container类属性
.container{
	width: 70%;
	margin: 0px auto;
}
.container-inside{
	padding:0px 15%;
}
// btn 按钮类属性
.btn{
	display: block;
	border: 1px solid #ff9966;
	}
// btn-small按钮属性
.btn-small{
	width: 120px;
	height: 28px;
	font-size: 12px;
	line-height: 28px;
}
// hide类的样式属性
.hide{display: none;}
//site_top类样式
.site_top{
	@height:40px; 
	font-size: 15px;
	font-weight: 400;
	background-color: #F1F1F1;
	width: @full_width;
	height:@height;
	box-shadow:0px 2px 2px #e5e8e8;
	a{
		color:gray;
		&:hover{
			color: #ff9966;
		}
	}
	&_left{
	// site_top_left样式
		.left;
		width: 20%;
		margin-left: 10%;
		line-height: @height;

	}
	&_right{
	// site_top_right样式
		.right;
		line-height: @height;
		width: 20%;
		margin-left: 30%;
		&_follow{
			// 关注我们的社交网络的样式
			list-style: none;
			&_item{
				// 列表项目
				display: inline-block;
				margin-left: 5px
			}
		}
	}
}

// page内容主体开始
.page_body{
	margin-top: 2px;
	color:#;
}
// page_body类属性设置
#logo{
	width: 50px;
	height:50px;
}



.nav{
	height:100px;
	background-color:#fff;
	width:@full_width;
	position: relative;
	&_logo{
		margin-top: 25px;
		float: left;
	}
	&_list{
		margin-left: 18%;
		list-style: none;
		&_item{
			display: inline-block;
			float: left;
			line-height: 100px;
			
			font-size: 16px;
			a{
				padding: 26px 18px 38px 18px;
			}
		}
	}
	&_search{
		float: right;
		margin-top:25px;
		width: 25%;
		height: 50px;
		border: solid #E0E0E0 1px;
		-webkit-transition: border 0.1s;
		-o-transition: border 0.1s;
		transition: border 0.1s;
		&:hover{
				border-color: #cccccc;
				& button{
					outline: 1px #cccccc solid;
				}
			}
		&_input{
			border: none;
			padding-left:5px;
			line-height: 50px;
			height: 50px;
			width: 67.9%;
			box-sizing: content-box;
			-webkit-transition: all 0.1s;
			-o-transition: all 0.1s;
			transition: all 0.1s;
			&:focus{
				outline:1px solid #ff9966;
				// border:1px solid #ff9966;
			    & + button{
					outline: 1px #ff9966 solid;
				}
			}
			
		}
		button{
			float: right;
			background-color: #fff;
			color: gray;
			border: none;
			width: 30%;
			height:50px;
			-webkit-transition: all 0.1s;
			-o-transition: all 0.1s;
			transition: all 0.1s;
			&:hover{
				background-color: #ff9966;
				color: #fff;
				outline: 1px #ff9966 solid;
			}
		}

	}
}





//footer属性
footer{
	width: @full_width;
	background-color:#fff;
	overflow: hidden;
	.clearfix();
	a{color: #616161;}
	.footer_svc{
		list-style: none;
		padding: 27px 0%;
		border-bottom: 1px solid #e0e0e0;
		li{
			margin-right: -5px;
			display: inline-table;
			text-align: center;
			width: 25%;
			font-size: 20px;
			border-left: 1px solid #e0e0e0;
			&:first-child{
				border-left: none;
				}

		}
	// footer中footer_svc类的样式属性
	}
	.footer_links{
		.clearfix();
		margin: 40px 15%;
		.col-links{
			float: left;
			width: 15%;
			dt{
				margin-bottom: 30px;
			}
			dd{
				margin: 10px 0 ;
				font-size: 14px;
			}
		}
		// footer中col-links的样式属性
		.footer_contact{
			float: right;
			width: 20%;
			height: 150px;
			border-left:1px #E0E0E0 solid;
			text-align: center;
			.phone{
				color: #ff9966;
				font-weight: 500;
				font-size:20px;
			}
			p{
				margin: 5px 0px;
				font-size: 12px;
			}
			.btn{
				margin: 20px auto;
				&:hover{
					background-color: #ff9966;
					color: #fff;
				}
			}
		}
		// footer中col-links的样式属性
	}
	.site_info{
		.clearfix();
		margin-top: 20px;
		background-color: #F1F1F1;
		height: 50px;
		line-height: 50px;
		font-size: 12px;
    	// footer中site_info类的样式属性
	
	}
} 