/*author：Leridy_Lei 
  version:1.0
  description: for a shopping mall website
  
*/
@charset "utf-8";
@full_width:100%;
@full_height:100%;
.right{
	float: right;
	clear: both;
}

.left{
	float: left;
	clear: both;
}

