.input-group{
    /*padding: 15px 15px 0 15px;*/
    margin-top: 15px;
}

#createProductForm{
    /*margin: 30px;*/
}

.categoryLeft{
    padding-left: 15px;
    padding-right: 15px;
}

.all-select{
    margin-left: 15px;
    margin-top: 15px;
}